<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resume - Samar Jal</title>
    <link rel="stylesheet" href="./style.css">
    <link rel="icon" href="./assets/hyper_1.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Aboreto&family=Dancing+Script:wght@400..700&family=Montserrat:wght@100..900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Aboreto&family=Montserrat:wght@100..900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Aboreto&family=Dancing+Script:wght@400..700&family=Montserrat:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Aboreto&family=Dancing+Script:wght@400..700&family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Montserrat:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./styleMob.css">
</head>
<body>
    <div class="loader-wrapper">
        <div class="lds-roller"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div></div>    
    <img src="./assets/Pngtreelatar_foto_estetik_polos_1597886.png" alt="bg image" class="backGroundImage">
    <div class="resumeContainer">
        <div class="back"><a href="/"><img src="./assets/left-arrow.png" alt="back" class="leftArrow"></a></div>
        <div class="firstHalf">
        <div><img src="./assets/Untitled_design.png" alt="profile photo" class="profilePhoto"></div>
        <div class="profileName">Samar Jal</div>
        <div class="passion">Video Editor / Thumbnail Designer</div>
        <div class="showMore">
            <div class="showMoreText">Show More</div>
            <div class="showMoreIcon"><img src="./assets/down-arrow.png" alt="arrow" class="iconArrow"></div>
        </div>
        <div class="iconContainer iconResume">
            <a href="https://www.instagram.com/hypercosmic.edit/"><img src="./assets/instagram colorful.png" alt="instagram" class="icon iconProfile"></a>
            <a href="https://twitter.com/hypercosmicedit"><img src="./assets/twitter color.png" alt="twitter" class="icon iconProfile"></a>
            <a href="https://www.linkedin.com/in/kumar-samar-jal/"><img src="./assets/linkedin color.png" alt="telegram" class="icon iconProfile"></a>
            <a href="https://www.youtube.com/@kumarsamarjal"><img src="./assets/youtube color.png" alt="youtube" class="icon iconProfile"></a>
        </div> 

        <div class="contactInformation">
            <div class="containerXY"><img src="./assets/whatsapp (1).png" alt="telephone image" class="icon iconProfile" style="background-color: ghostwhite;">
                <div>
                    <div class="textXY">WhatsApp</div>
                    <div class="textYZ">+91 6206603168</div>
                </div>
            </div>
            <div class="containerXY"><img src="./assets/gmail.png" alt="telephone image" class="icon iconProfile" style="background-color: ghostwhite;">
                <div>
                    <div class="textXY">Email</div>
                    <div class="textYZ">hypercosmic.edit@gmail.com</div>
                </div>
            <hr>
            </div>
            <div class="containerXY"><img src="./assets/placeholder.png" alt="telephone image" class="icon iconProfile" style="background-color: ghostwhite;">
                <div>
                    <div class="textXY">Location</div>
                    <div class="textYZ">Delhi, INDIA</div>
                </div>
        </div>
            <div class="containerXY"><img src="./assets/calendar.png" alt="telephone image" class="icon iconProfile" style="background-color: ghostwhite;">
            <div>
                <div class="textXY">Birthday</div>
                <div class="textYZ">November 14, 2004</div>
            </div></div>
        </div>
    </div>
        <div class="secondHalf">
            <div class="navBarRS">
                <a href="/" class="navBar">Home</a>
                <a href="/about" class="navBar">Resume</a>
                <a href="/contact" class="navBar">Contact Me</a>
            </div>
        <div>
            <p class="aboutC1">
                <li class="aboutText">Hey, My name is Samar, an India based <span style="font-weight: 700;">Video Editor</span>.
                </li>
                <li class="aboutText">I have edited more than <span style="font-weight: 700;">30+ Videos</span> over last Eight months.</li>
                <li class="aboutText">I have been editing both <span style="font-weight: 700;">Long form</span> and <span style="font-weight: 700;">Short form </span> videos of various genres </li>
                <li class="aboutText" style="list-style: none;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;like Cinematic Vlogs, Infotainment, Talking Head Videos, etc.</li>
                <li class="aboutText">Currently, an undergraduate student pursuing Bachelors in Computer Science.</li></li>
                <p class="aboutTextP">“with digital editing, I now can make many, many versions of a scene.”
                <p class="aboutTextP" style="margin-top: 0; text-align: right;">~Thelma Schoonmaker</p></p>
            </p>

        </div>
        <div>
            <h1 class="aboutHeading">Skills</h1>
        </div>
        <div class="skillsContainer">
            <div class="skills">
                <div class="skillsText">Adobe Premiere Pro</div>
                <div class="skillsEmptyBar"><div class="skillsFillBar"></div></div>
            </div>
 
            <div class="skills">
                <div class="skillsText">Adobe After Effect</div>
                <div class="skillsEmptyBar"><div class="skillsFillBar" style="width: 40%;"></div></div>
            </div>
            <div class="skills">
                <div class="skillsText">Adobe Photoshop</div>
                <div class="skillsEmptyBar"><div class="skillsFillBar" style="width: 30%;"></div></div>
            </div>
            <div class="skills">
                <div class="skillsText">Canva</div>
                <div class="skillsEmptyBar"><div class="skillsFillBar" style="width: 90%;"></div></div>
            </div>
        </div>
        <h1 class="aboutHeading">Experience</h1>
            <div class="experienceContainer">
                <div class="experienceInnerContainer">
                    <div class="experienceSubHeading">Video Editor (2023-Present):</div>
                    <div class="experienceText">Working as a freelance video editor since late
                        2023, with major expertise in Adobe Premiere Pro.</div>
                </div>
                <div class="experienceInnerContainer">
                    <div class="experienceSubHeading">Thumbnail Designing (2023-Present):</div>
                    <div class="experienceText">Created 20+ high-quality thumbnails using advanced skills in Photoshop and Canva, demonstrating major expertise.
                        </div>
                </div>
            </div>
            <h1 class="aboutHeading">Education</h1>
            <div class="experienceContainer">
                <div class="experienceInnerContainer">
                    <div class="experienceSubHeading">KIET Ghaziabad - Bachelors of Technology in CS (2023-2027)</div>
                    <div class="experienceText">Currently pursuing B.Tech in Computer Science, deeply interested in cinematography and video editing, blending technical skills with creative expression.
                    </div>
                </div>
            </div>
        </div>
        </div>
    <script src="./index.js"></script>
    <script>
         // loader
    window.addEventListener("load", ()=>{
        const loader = document.querySelector(".loader-wrapper");
        loader.className += " hiddenRoller";
    })

        const showMore= document.querySelector('.showMore');
        const showMoreText= document.querySelector('.showMoreText');
        const showMoreIcon= document.querySelector('.showMoreIcon');
        const iconResume=document.querySelector('.iconResume');
        const iconArrow=document.querySelector('.iconArrow');
        const firstHalf=document.querySelector('.firstHalf');
        const contactInformation=document.querySelector('.contactInformation');
        const navBarRS=document.querySelector('.navBarRS');

        showMore.addEventListener('click',()=>{
            showMoreText.classList.toggle('open');
            showMoreIcon.classList.toggle('open');
            iconResume.classList.toggle('open');
            iconArrow.classList.toggle('open');
            firstHalf.classList.toggle('open');
            contactInformation.classList.toggle('open');
            navBarRS.classList.toggle('open');
        });
    </script>
</body>
</html>